[submodule "Kite-SDK/vendor/SDWebImage"]
	path = Kite-SDK/vendor/SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "Kite-SDK/vendor/SkyLab"]
	path = Kite-SDK/vendor/SkyLab
	url = https://github.com/mattt/SkyLab.git
[submodule "Kite-SDK/vendor/AFNetworking"]
	path = Kite-SDK/vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Kite-SDK/vendor/MPFlipViewController"]
	path = Kite-SDK/vendor/MPFlipViewController
	url = https://github.com/mpospese/MPFlipViewController.git
[submodule "Kite-SDK/vendor/DACircularProgress"]
	path = Kite-SDK/vendor/DACircularProgress
	url = https://github.com/danielamitay/DACircularProgress.git
[submodule "Kite-SDK/vendor/TSMarkdownParser"]
	path = Kite-SDK/vendor/TSMarkdownParser
	url = https://github.com/laptobbe/TSMarkdownParser.git
[submodule "Kite-SDK/vendor/SVProgressHUD"]
	path = Kite-SDK/vendor/SVProgressHUD
	url = https://github.com/TransitApp/SVProgressHUD.git
[submodule "Kite-SDK/vendor/UICKeyChainStore"]
	path = Kite-SDK/vendor/UICKeyChainStore
	url = https://github.com/kishikawakatsumi/UICKeyChainStore.git
[submodule "Kite-SDK/vendor/UIColor-HexString"]
	path = Kite-SDK/vendor/UIColor-HexString
	url = https://github.com/kevinrenskers/UIColor-HexString.git
[submodule "Kite-SDK/vendor/GroundControl"]
	path = Kite-SDK/vendor/GroundControl
	url = https://github.com/mattt/GroundControl.git
[submodule "Kite-SDK/vendor/CSStickyHeaderFlowLayout"]
	path = Kite-SDK/vendor/CSStickyHeaderFlowLayout
	url = https://github.com/OceanLabs/CSStickyHeaderFlowLayout
[submodule "Kite-SDK/vendor/PayPal-iOS-SDK"]
	path = Kite-SDK/vendor/PayPal-iOS-SDK
	url = https://github.com/paypal/PayPal-iOS-SDK.git
[submodule "Kite-SDK/vendor/CTAssetsPickerController"]
	path = Kite-SDK/vendor/CTAssetsPickerController
	url = http://github.com/chiunam/CTAssetsPickerController
[submodule "Kite-SDK/vendor/PureLayout"]
	path = Kite-SDK/vendor/PureLayout
	url = https://github.com/smileyborg/PureLayout
