[submodule "Kite-SDK/vendor/MPFlipViewController"]
	path = Kite-SDK/vendor/MPFlipViewController
	url = https://github.com/mpospese/MPFlipViewController.git
[submodule "Kite-SDK/vendor/DACircularProgress"]
	path = Kite-SDK/vendor/DACircularProgress
	url = https://github.com/danielamitay/DACircularProgress.git
[submodule "Kite-SDK/vendor/CSStickyHeaderFlowLayout"]
	path = Kite-SDK/vendor/CSStickyHeaderFlowLayout
	url = https://github.com/OceanLabs/CSStickyHeaderFlowLayout
