<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OLTemplateId</key>
		<string>magnets</string>
		<key>OLTemplateName</key>
		<string>Magnets</string>
		<key>OLSheetQuanity</key>
		<integer>22</integer>
		<key>OLEnabled</key>
		<true/>
		<key>OLSheetCosts</key>
		<dict>
			<key>GBP</key>
			<string>12.50</string>
			<key>USD</key>
			<string>22</string>
		</dict>
	</dict>
	<dict>
		<key>OLTemplateId</key>
		<string>squares</string>
		<key>OLTemplateName</key>
		<string>Squares</string>
		<key>OLSheetQuanity</key>
		<integer>10</integer>
		<key>OLSheetCosts</key>
		<dict>
			<key>GBP</key>
			<string>6.25</string>
			<key>USD</key>
			<string>11</string>
		</dict>
	</dict>
	<dict>
		<key>OLTemplateId</key>
		<string>polaroids</string>
		<key>OLTemplateName</key>
		<string>Polaroids</string>
		<key>OLSheetQuanity</key>
		<integer>10</integer>
		<key>OLSheetCosts</key>
		<dict>
			<key>GBP</key>
			<string>6.25</string>
			<key>USD</key>
			<string>11</string>
		</dict>
	</dict>
	<dict>
		<key>OLTemplateId</key>
		<string>polaroids_mini</string>
		<key>OLTemplateName</key>
		<string>Petite Polaroids</string>
		<key>OLSheetQuanity</key>
		<integer>22</integer>
		<key>OLSheetCosts</key>
		<dict>
			<key>GBP</key>
			<string>5.75</string>
			<key>USD</key>
			<string>10</string>
		</dict>
	</dict>
	<dict>
		<key>OLTemplateId</key>
		<string>squares_mini</string>
		<key>OLTemplateName</key>
		<string>Petite Squares</string>
		<key>OLSheetQuanity</key>
		<integer>22</integer>
		<key>OLSheetCosts</key>
		<dict>
			<key>GBP</key>
			<string>5.75</string>
			<key>USD</key>
			<string>10</string>
		</dict>
	</dict>
	<dict>
		<key>OLTemplateId</key>
		<string>ps_postcard</string>
		<key>OLTemplateName</key>
		<string>Postcard</string>
		<key>OLSheetQuanity</key>
		<integer>1</integer>
		<key>OLSheetCosts</key>
		<dict>
			<key>GBP</key>
			<string>1.49</string>
			<key>USD</key>
			<string>2.49</string>
		</dict>
	</dict>
	<dict>
		<key>OLTemplateId</key>
		<string>60_postcards</string>
		<key>OLTemplateName</key>
		<string>60 Postcard</string>
		<key>OLSheetQuanity</key>
		<integer>1</integer>
		<key>OLSheetCosts</key>
		<dict>
			<key>GBP</key>
			<string>1.49</string>
			<key>USD</key>
			<string>2.49</string>
		</dict>
	</dict>
	<dict>
		<key>OLTemplateId</key>
		<string>frames_2</string>
		<key>OLTemplateName</key>
		<string>Frame (2x2)</string>
		<key>OLSheetQuanity</key>
		<integer>2</integer>
		<key>OLSheetCosts</key>
		<dict>
			<key>GBP</key>
			<string>50</string>
			<key>USD</key>
			<string>100</string>
		</dict>
	</dict>
	<dict>
		<key>OLTemplateId</key>
		<string>frames_3</string>
		<key>OLTemplateName</key>
		<string>Frame (3x3)</string>
		<key>OLSheetQuanity</key>
		<integer>3</integer>
		<key>OLSheetCosts</key>
		<dict>
			<key>GBP</key>
			<string>50</string>
			<key>USD</key>
			<string>100</string>
		</dict>
	</dict>
	<dict>
		<key>OLTemplateId</key>
		<string>frames_4</string>
		<key>OLTemplateName</key>
		<string>Frame (4x4)</string>
		<key>OLSheetQuanity</key>
		<integer>4</integer>
		<key>OLSheetCosts</key>
		<dict>
			<key>GBP</key>
			<string>50</string>
			<key>USD</key>
			<string>100</string>
		</dict>
	</dict>
	<dict>
		<key>OLTemplateId</key>
		<string>a1_poster</string>
		<key>OLTemplateName</key>
		<string>Large Format A1</string>
		<key>OLSheetQuanity</key>
		<integer>1</integer>
		<key>OLSheetCosts</key>
		<dict>
			<key>GBP</key>
			<string>15</string>
			<key>USD</key>
			<string>24</string>
		</dict>
	</dict>
	<dict>
		<key>OLTemplateId</key>
		<string>a2_poster</string>
		<key>OLTemplateName</key>
		<string>Large Format A2</string>
		<key>OLSheetQuanity</key>
		<integer>1</integer>
		<key>OLSheetCosts</key>
		<dict>
			<key>GBP</key>
			<string>12</string>
			<key>USD</key>
			<string>19</string>
		</dict>
	</dict>
	<dict>
		<key>OLTemplateId</key>
		<string>a3_poster</string>
		<key>OLTemplateName</key>
		<string>Large Format A3</string>
		<key>OLSheetQuanity</key>
		<integer>1</integer>
		<key>OLSheetCosts</key>
		<dict>
			<key>GBP</key>
			<string>9</string>
			<key>USD</key>
			<string>14.50</string>
		</dict>
	</dict>
</array>
</plist>
